<a href="https://colab.research.google.com/github/rahulnarayaniitk/Python/blob/main/PythonNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

In [116]:
print("Welcome to google colab")

Welcome to google colab

In [117]:
print(5)

5

In [118]:
# print(Hi Rahul)
# This is an error since does not contain the string within (" ")

## **Variables**

In [119]:
name = "Rahul"
print(name)

Rahul

In [122]:
# take input from user
name = input("Enter your name: ")
print("Welcome!",name) # In the print statement, when you use commas to separate values, Python automatically adds a space between them.

Enter your name: Rahul
Welcome! Rahul

In [123]:
age = input("Enter your age: ")
print("you are", age*12 ,"months old")

Enter your age: 12
you are  121212121212121212121212 months old

In [124]:
# it means that the input function takes only strings as input
# so for integer input we need to do typecasting
age = int(input("Enter your age: "))
print("you are", age*12, "months old")

Enter your age: 12
you are  144 months old

In [125]:
num = 1
decimal = 1.1
string = 'Mike'
boolean = True
print(type(num))

print(type(decimal))
print(type(string))
print(type(boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## **Arithmetic Operations**

In [128]:
a = 5
b = 8
print("Addition ", a+b)
print("Subtraction ", a-b)
print("Multiplication ", a*b)
print("Division ", a/b)
print("Floor Division ", a//b)
print("Modulus or Remainder ",a%b)
print("Exponential ", a**b)

Addition  13
Subtraction  -3
Multiplication  40
Division  0.625
Floor Division  0
Modulus or Remainder  5
Exponential  390625

In [129]:
# Order of precedence : PEMDAS
print((5*6)-7+8/4)

25.0

## **String Operations**

In [132]:
c = 'z'
d = 'Mike'
e = "John"
print(c, d, e)

z Mike John

In [133]:
# print('I didn't do this')
print('I didn\'t do this')
print("I didn't do this")

I didn't do this
I didn't do this

### **String manipulations**

In [134]:
string = "There are lies, damned lies, and statistics. - Mark Twain"
len(string)

57

In [135]:
# first character
string[0]

'T'

In [136]:
# Last Character
print(string[len(string)-1])
print(string[-1])

n
n

In [137]:
# String does not support item assignment i.e.
# we can't change the characters of a string.

### **Slicing in strings**

In [138]:
string = "There are lies, damned lies, and statistics. - Mark Twain"
sliced_string = string[0:45]
print(sliced_string)

There are lies, damned lies, and statistics.

#### Membership
- In Python, membership operators are used to test whether a value is a member of a sequence (such as a string, list, or tuple). There are two membership operators: 'in' and 'not in'.

- The 'in' operator checks if a value exists in the given sequence.

- The 'not in' operator checks if a value does not exist in the given sequence.

In [139]:
# Membership
string = "Lasagna for lunch"
print('Pizza' in string)
print('fries' not in string)

False
True

### **String methods**

In [141]:
small = "lasagna for lunch"
print(small.upper())

LASAGNA FOR LUNCH

In [142]:
upper = "LASAGNA FOR LUNCH"
print(upper.lower())

lasagna for lunch

In [24]:
string = "Lasagna for lunch!        "
print(string)
print(string.rstrip())

Lasagna for lunch!
Lasagna for lunch!

In [25]:
string = "      Lasagna for lunch!"
print(string)
print(string.lstrip())

      Lasagna for lunch!
Lasagna for lunch!

In [26]:
string = "   Lasagna for lunch.   "
print(string)
print(string.strip())

   Lasagna for lunch.
Lasagna for lunch.

In [27]:
string = "******Lasagna for lunch!####"
print(string)
print(string.rstrip('#').lstrip('*'))

******Lasagna for lunch!####
Lasagna for lunch!

In [28]:
# help(str)

In [143]:
print(string.count('a'))

3

## **Control Structures and Function**

### **If statements**

### **Relational Operators**

In [144]:
10 == 10

True

In [145]:
10 == 5

False

In [146]:
10!=2

True

In [147]:
10 >5

True

In [148]:
10<5

False

In [149]:
10>=5

True

In [150]:
10<=5

False

### **Decision making**

In [151]:
# Write a program to check whether a variable x has value 90 or not
x =45
if x<90 :
  print(x, " is less than 90")
elif x==90 :
  print(x," is equal to 90")
else:
  print(x, " is more than 90")

45  is less than 90

### **Loops and iterations**

In [152]:
# Password check
password = input("Enter the password: ")
attempt = 1
while password != '1234':
  print("Invalid password! Please try again")
  password = input("Enter the password: ")
print("Your are authenticated!")

Enter the password: 1234
Your are authenticated!

In [153]:
#The sys module in Python provides access to some variables used or maintained by the Python interpreter
# and functions that interact strongly with the interpreter. One common use of the 'sys' module
# is to access and manipulate the command line arguments.

import sys
password = input("Enter the password: ")
attempt = 1
while password != '1234':
  if attempt >= 3:
    sys.exit("Too many invalid attempts") # error
  print("Invalid password! Please try again")
  password = input("Enter the password: ")
  attempt +=1
print("Your are authenticated!")

Enter the password: 1234
Your are authenticated!

In [154]:
# iterate over a list of integers
l = [1,3,4,6,7,9]
for i in l:
  print(i)

1
3
4
6
7
9

In [157]:
# iterate in strings
string="New Delhi"
for ch in string:
  print(ch)         # By default it is like print(ch, end = "\n")

N
e
w

D
e
l
h
i

In [158]:
# iterate in strings
string="New Delhi"
for ch in string:
  print(ch, end = "") #\n

New Delhi

In [159]:
# iterate over dictionary
students = {1:["Sam", 25], 2:["Jack", 23], 3:["Trump", 27]}
for key,val in students.items():
  print(key, val)

1 ['Sam', 25]
2 ['Jack', 23]
3 ['Trump', 27]

In [163]:
for key in students.keys():
  print(key)

1
2
3

In [164]:
range(1,101)

range(1, 101)

In [165]:
l = list(range(1,101))
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [167]:

# iterate over range
for i in range(1,101):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [168]:
print(list(range(1,100,2)))
print(list(range(100,0,-1)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [174]:
# Program to print prime numbers between 1 to 20
import math
for n in range(2,101):
  flag = True
  for i in range(2,int(math.sqrt(n)) + 1):
    if n%i==0:
      flag=False
      break
  if flag:
    print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### **Comprehensions**

In [175]:
l1 = ["automobiles", "Honda", "Suzuki", "Benz"]
l2 = []
for i in l1:
  l2.append(len(i))
l2

[11, 5, 6, 4]

In [176]:
# Function approach

l1 = ["automobiles", "Honda", "Suzuki", "Benz"]
l2 = [len(i) for i in l1]
l2

[11, 5, 6, 4]

In [52]:
# Dictionary Comprehensions

l1 = ["automobiles" , "Honda", "Suzuki", "Benz"]
d = {i : len(i) for i in l1}
print(d)

{'automobiles': 11, 'Honda': 5, 'Suzuki': 6, 'Benz': 4}

In [177]:
# Set comprehensions // Set removes duplicate values
word = input("Enter a word: ")
vowels = { i for i in word if i in "aeiou"}
vowels

Enter a word: elephant

{'a', 'e'}

## **Function**

In [178]:
# Write a function which takes a value as a parameter and returns its factorial
def factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact*=i

  return fact

In [181]:
factorial(5)

120

### **Function Arguments**

In [56]:
def func(name, age = 35): # default parameters
  print("Name: ", name)
  print("Age: ", age)

In [182]:
func("Danish")
func("Shiv", 25)

Name:  Danish
Age:  35
Name:  Shiv
Age:  25

In [183]:
# Variable length argument
def var_func(*args):
  print(args)

var_func(1,3,"abc") # variable length argument

(1, 3, 'abc')

### **Lambda Function**

In [184]:
f = lambda x: "even" if x%2==0 else "odd"
f(3)

'odd'

## **Data Structures in Python**

### **Tuples**
- Tuples are an ordered sequence of mixed data types
- Tuples are written in comma-separated elements within parenthesis ()
- Tuples are immutable, meaning you cannot change their elements once the tuple is created.

In [211]:
t = ("tuple", 11, 2.4)
t

('tuple', 11, 2.4)

In [212]:
type(t)

tuple

In [213]:
t1 = 2,4,6,8
t1

(2, 4, 6, 8)

In [214]:
# tuple with single element
t2 = 2,
t2

(2,)

In [215]:
t3 = 1
type(t3)

int

In [216]:
t4 = (1,)
type(t4)

tuple

### Indexing in tuples

In [217]:
t = ("Bombay", 78, "Data")
t[1]

78

In [218]:
t[-1]

'Data'

### Slicing in tuples

In [219]:
t = ("Bombay", 78, "Data", 23, 7,'a')
t[0:3]

('Bombay', 78, 'Data')

In [220]:
t[-2:]

(7, 'a')

In [221]:
len(t)

6

In [222]:
# Concatenating Tuples
t1 = ("Welcome","to")
t2 = ("Introduction", "to", "Python")

t3 = t1+t2
t3

('Welcome', 'to', 'Introduction', 'to', 'Python')

In [223]:
for i in t3:
  print(i, end=" ")

Welcome to Introduction to Python

In [224]:
# sum() , min() , max()
t = (2, 14, 10, 17)
sum(t)

43

In [226]:
min(t)

2

In [227]:
max(t)

17

In [228]:
# Immutability of tuples
t = ("R&B", 4, 5, "Music", 7.5)

# t[3] = "jazz" i.e. we can't change the tuples items once defined

new_t = t[0:3]+("Jazz",)+t[4:]
new_t

('R&B', 4, 5, 'Jazz', 7.5)

In [229]:
# Sorting a tuple
t = (2,14,10,17)
sorted(t)

# observe that now it has become a list

[2, 10, 14, 17]

In [231]:
x=sorted(t)
tuple(x)

(2, 10, 14, 17)

## **Lists**
- Lists are an ordered sequence of mixed data types
- Lists are written as comma-separated elements within square brackets [].
- Lists are mutable, meaning you can change their elements (add, remove, or modify) after the list is created.

In [185]:
L = ["Data" , 23 , ["Python", "Java"], 6]
L

['Data', 23, ['Python', 'Java'], 6]

In [186]:
L[0]

'Data'

In [187]:
L[-3]

23

In [188]:
L[2][1]

'Java'

In [189]:
L[-2][-1]

'Java'

In [190]:
L[0:2]

['Data', 23]

In [191]:
L = [1,2,3,4]
print(2 in L)
print(8 not in L)

True
True

In [193]:
L = ["Data" , 23 , ["Python", "Java"], 6]
new_L = L + [1984, 1850]
new_L

['Data', 23, ['Python', 'Java'], 6, 1984, 1850]

In [194]:
L = ["Data" , 23 , ["Python", "Java"], 6]
L.extend([1984,1850])
L

['Data', 23, ['Python', 'Java'], 6, 1984, 1850]

In [195]:
# Adding element as List
L = ["Data" , 23 , ["Python", "Java"], 6]
L.append([1984, 1850])
L

['Data', 23, ['Python', 'Java'], 6, [1984, 1850]]

In [196]:
# Deleting element
del L[0]
L

[23, ['Python', 'Java'], 6, [1984, 1850]]

In [197]:
del L[0:2]
L

[6, [1984, 1850]]

In [198]:
# Changing value

L[0] = "Data"
L

['Data', [1984, 1850]]

In [199]:
L = ["Data" , 23 , ["Python", "Java"], 6]
L.pop() # Pops out the last element
# if an index is mentioned in the pop(_) then it removes
# element at that index

6

In [203]:
L

['Data', 23]

In [204]:
# Removing particular element

L = ["Data" , 23 , ["Python", "Java"], 6]
L.remove("Data")
L

[23, ['Python', 'Java'], 6]

In [205]:
l = [2,3,4,6,1,8]
l.sort()
l

[1, 2, 3, 4, 6, 8]

In [206]:
# Sorting in reverse order
l.sort(reverse = True)
l

[8, 6, 4, 3, 2, 1]

In [207]:
A = ["Python" ,"R", "Java"]
B = A.sort()          # the sort method on the list A. It sorts the list in-place and returns None. Therefore, the variable B is assigned the value None.
print(A)
print(B)

['Java', 'Python', 'R']
None

In [98]:
A=["Python", "R", "Java"]
C = sorted(A)
print(A)
print(C)

['Python', 'R', 'Java']
['Java', 'Python', 'R']

## **Set**
- Sets are a type of collection like lists and tuples, storing mixed data
- Unordered
- Sets do not allow duplicates

In [232]:

l = (2,3,14,10,2,1,7,21,2)
set_l = set(l)
set_l

{1, 2, 3, 7, 10, 14, 21}

In [233]:
len(set_l)

7

In [234]:
a = {1,2,7,10,17}
a.add("Python")
a

{1, 10, 17, 2, 7, 'Python'}

In [235]:
a.remove("Python")
a

{1, 2, 7, 10, 17}

### Set Operations

In [236]:
A = {0,2,4,6,8}
B = {1,2,3,4,5}

In [237]:
# UNION
print(A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}

In [238]:
# INTERSECTION
print(A.intersection(B))

{2, 4}

In [239]:
# DIFFERENCE
print(A.difference(B))

{0, 8, 6}

In [107]:
print(A^B) # it represents the elements that are in either of the sets but not in both.

{0, 1, 3, 5, 6, 8}

## **Dictionary**
- Dictionary stores elements as keys and value pair
- Mutable

In [240]:
d = {"India":"INR" , "USA":"USD", "France":"Euro"}
d["USA"]

'USD'

In [242]:
d["USA"] = "$"
d

{'India': 'INR', 'USA': '$', 'France': 'Euro'}

In [243]:
# Adding element to a dictionary
d["Japan"] = "Yen"
d

{'India': 'INR', 'USA': '$', 'France': 'Euro', 'Japan': 'Yen'}

In [244]:
# Deleting an element
del d["France"]
d

{'India': 'INR', 'USA': '$', 'Japan': 'Yen'}

In [246]:
sorted(d)

['India', 'Japan', 'USA']

In [247]:
# Accessing all the values
d = {"India":"INR" , "USA":"USD", "France":"Euro"}
d.values()

dict_values(['INR', 'USD', 'Euro'])

In [248]:
# Accessing al the keys
d.keys()

dict_keys(['India', 'USA', 'France'])

In [249]:
# Updating value
d.update({"USA": "$"})
d

{'India': 'INR', 'USA': '$', 'France': 'Euro'}

# **OOPS in Python**

## Defining Class

In [251]:
class Rectangle:
  def __init__(self):
    self.length = 10
    self.breadth = 5

In [252]:
rect = Rectangle() # it means self = rect here
print("Length =", rect.length, "\nBreadth =",rect.breadth)

Length = 10
Breadth = 5

## Parametrised Constructor

In [254]:
class Rectangle:
  def __init__(self, length, breadth):
    self.length = length
    self.breadth = breadth

rect = Rectangle(10,5)
print("Length = ", rect.length, "\nBreadth = ",rect.breadth)

Length =  10
Breadth =  5

## Class Variables and Instance Variables

In [ ]:
class circle:
  pi = 3.14       # class variable : shared among all instances of a class
  def __init__(self,radius):
    self.radius = radius   # instance variable : specific to each instance

In [ ]:
circle_1 = circle(5)
print("Radius = {}\t pi = {}".format(circle_1.radius,circle_1.pi))

Radius = 5	 pi = 3.14

In [ ]:
circle_2 = circle(2)
print("Radius = {}\t pi = {}".format(circle_2.radius,circle_2.pi))

Radius = 2	 pi = 3.14

In [ ]:
circle.pi = 3.1436 # updating class variable
circle_1 = circle(5)
print("Radius = {}\t pi = {}".format(circle_1.radius,circle_1.pi))

Radius = 5	 pi = 3.1436

## Adding method to the class

In [ ]:
class Rectangle:
  def __init__(self, length, breadth):
    self.length = length
    self.breadth = breadth

  def calc_area(self):
    return self.length*self.breadth

rect = Rectangle(10,5)
print("Length = ", rect.length, "\nBreadth = ",rect.breadth, "\nArea = ",rect.calc_area())

Length =  10
Breadth =  5
Area =  50

## Class Method and Static Method

In [267]:
class circle:
  pi = 3.14
  def __init__(self,radius):
    self.radius = radius

  # instance method:
  def calculate_area(self):
    return circle.pi*self.radius

  # class method - cannot access radius
  @classmethod
  def access_pi(cls):
    pi = 3.1436
    return pi

  @staticmethod
  def circle_static():
    print("This is a static class")

cir = circle(5)

3.1436

## Inheritance and Overriding

In [289]:
class shape:
  def set_color(self,color):
    self.color = color

  def calculate_area(self):
    pass

  def color_the_shape(self):
    color_price = {"red": 10, "blue": 15, "green": 5}
    return self.calculate_area()*color_price[self.color]

In [290]:
class circle(shape):   # shape is parent class and circle is derived class
  pi = 3.14
  def __init__(self,radius):
    self.radius = radius

  # Overriding:
  def calculate_area(self):
    return circle.pi*self.radius

In [291]:
c = circle(5)
c.set_color("red")
print("Circle with radius =",c.radius, "color =", c.color, "cost =", c.color_the_shape())

Circle with radius = 5 color = red cost = 157.0

In [292]:
class Rectangle(shape):
  def __init__(self, length, breadth):
    self.length = length
    self.breadth = breadth

  def calculate_area(self):
    return self.length*self.breadth

  def __str__(self):
    return "Area of rectangle = "+str(self.calculate_area())

In [293]:
r = Rectangle(5,10)
r.set_color("blue")
print("Cost :", r.color_the_shape())

Cost : 750